body {
    background: #0f172a;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}

.title {
    margin-top: 20px;
}

.card {
    background: #020617;
    width: 360px;
    margin: 30px auto;
    padding: 25px;
    border-radius: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: none;
}

button {
    width: 100%;
    padding: 10px;
    background: #22c55e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.result {
    display: none;
    border: 1px solid #22c55e;
}
